nav{
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 10%;
    background: rgb(187, 187, 187);
    cursor: pointer;
    border: 2px solid rgb(65,65,65) ;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover{
      background: rgb(65,65,65);
      color:white;
    }
  }
  h1{
    font-style: italic;
    font-weight: 400;
  }
}